@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$main-font: 'Poppins', sans-serif;
$main-color: #872d89;
$second-color: #FFB900;
$main-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$transition: 0.4s ease all;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: $main-font;
    overflow-x: hidden;
}

input,
button {
    outline: none;
    background: transparent;
    border: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    background-color: #eee;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.scroll-btn {
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 50px;
    border-radius: 4px;
    right: 30px;
    background-color: $main-color;
    color: #fff;
    width: 40px;
    cursor: pointer;

    height: 40px;
    @include center;
    box-shadow: $main-shadow;
    transition: $transition;

    &.show {
        transition: $transition;
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        scale: 1.1;
        translate: -3px;

    }
}

.general-header {
    overflow-x: hidden;

    box-shadow: $main-shadow;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;

    .header-top {
        .header-social-list {

            display: flex;
            align-items: center;

            li {
                width: 30px;
                height: 28px;
                background-color: #f1f1f1;
                border-radius: 3px;
                margin-right: 10px;
                transition: $transition;

                a {
                    position: relative;
                    color: $main-color;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    width: 100%;

                    height: 100%;

                    i {
                        font-size: 15px;
                    }
                }

                &:hover {
                    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 20%);
                    background-color: $main-color;

                    a {

                        color: #fff;
                    }
                }

                a {
                    font-size: 17px;
                    transition: $transition;
                    color: $main-color;


                }
            }
        }

        .header-search {
            .search-form {
                @include center;
                border: 1px solid $main-color;
                border-radius: 5px;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

                input {
                    padding-left: 8px;
                    width: 100%;
                    max-width: 150px;
                    height: 40px;
                    color: $main-color;

                    &.input-about {
                        max-width: 100%;
                    }

                    &::placeholder {
                        color: $main-color;
                    }
                }

                button {
                    width: 100%;
                    max-width: 40px;
                    height: 37px;
                    color: $main-color;
                }
            }
        }
    }

    .header-bottom {
        padding-top: 15px;



        .header-logo {
            img {
                margin-top: -60px;
                max-width: 280px;
                width: 100%;
            }
        }

        .nav {
            .nav-list {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                width: 100%;

                .nav-item {
                    .nav-link {
                        color: #3C3C3C;
                        font-weight: 400;
                        transition: $transition;
                        position: relative;

                        &:hover {
                            color: $main-color;

                        }

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            width: 0%;
                            height: 1.4px;
                            margin: auto;
                            left: 0;
                            right: 0;
                            transition: $transition;
                            background: linear-gradient(90deg, rgba(152, 63, 153, 0.897) 0%, rgba(97, 6, 99, 0.897));
                        }

                        &:hover::after {
                            width: 100%;
                            right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.header-mobile {
    line-height: 65px;
    overflow-x: hidden;

    display: none;
    background-color: #fff;
    z-index: 1000;

    .header-mobile-top {
        border-bottom: 1px solid #ccc;

        .nav-menu-btn {
            color: $main-color;
            font-size: 33px;
            cursor: pointer;
        }

        .header-social-list {
            display: flex;
            align-items: center;

            li {
                width: 30px;
                height: 28px;
                background-color: #f1f1f1;
                border-radius: 3px;
                margin-right: 10px;
                transition: $transition;

                a {
                    position: relative;
                    color: $main-color;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    width: 100%;

                    height: 100%;

                    i {
                        font-size: 15px;
                    }
                }

                &:hover {
                    box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 20%);
                    background-color: $main-color;

                    a {

                        color: #fff;
                    }
                }

                a {
                    font-size: 17px;
                    transition: $transition;
                    color: $main-color;


                }
            }
        }
    }

    .header-mobile-menu {
        line-height: 30px;
        border-bottom: 2px solid #ddd;

        @include center;
        flex-direction: column;
        padding: 35px 0;
        transition: $transition;

        display: none;

        &.show {
            display: flex;
        }

        .header-search {
            margin-bottom: 10px;

            .search-form {
                @include center;
                width: 530px;
                height: 44px;
                margin: 0 auto;
                border: 1px solid $main-color;
                border-radius: 3px;

                input {
                    width: 100%;
                    background-color: transparent;
                    padding-left: 14px;
                    color: $main-color;

                    &::placeholder {
                        color: $main-color;
                    }
                }

                button {
                    padding: 10px;
                    color: $main-color;
                }
            }
        }

        .nav {

            .nav-list {

                li {
                    a {
                        color: $main-color;
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "";
                            bottom: -5px;
                            left: 0;
                            width: 0;
                            height: 1px;
                            background-color: $main-color;
                            border-radius: 3px;
                            transition: $transition;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.banner-section {
    overflow-x: hidden;

    .banner-carousel {

        .slider-item {
            position: relative;
            padding: 328px 0;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            width: 100%;
        }
    }
}

.about-section {
    padding: 60px 0;
    overflow-x: hidden;

    .about-right {
        text-align: right;
        color: #626262;
        font-size: 16px;

        h5 {
            font-size: 25px;
            position: relative;
            color: #3C3C3C;

            &::after {
                position: absolute;
                content: "";
                right: -30px;
                height: 2px;
                border-radius: 4px;
                transform: rotate(90deg);
                width: 50px;
                top: 10px;
                background-color: $main-color;
            }
        }
    }

    .box-container {
        display: flex;
    }

    .box-item {
        @include center;
        flex-direction: column;
        text-align: center;


        .text {
            font-size: 13px;
            margin-top: 10px;
        }

        .img {
            background-color: #fff;
            box-shadow: $main-shadow;
            border: 1px solid #ddd;
            width: 60px;
            @include center;
            border-radius: 50%;
            height: 60px;

            img {

                width: 70%;


            }
        }
    }
}

.section-title {
    margin: 40px 0;

    .title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;
        position: relative;
        color: #3C3C3C;
        display: inline;

        &.title-sm {
            font-size: 22px;

            // &::before {
            //     width: 30%;
            //     top: 15px;
            // }
        }

        // &::before {
        //     position: absolute;
        //     content: "";
        //     border-top: 3px solid $main-color;
        //     width: 50%;
        //     left: -44px;
        //     top: 30px;
        //     transform: rotate(90deg);
        // }
    }

    .home-link {
        @include center;

        li {
            margin-right: 3px;

            a {
                font-size: 16px;
                color: #838383;
                font-weight: 400;
                transition: $transition;
            }

            a:hover {
                color: $main-color;
            }
        }
    }
}

.training-section,
.blog-section {
    overflow-x: hidden;

    .button-right {
        color: $second-color;
        padding: 10px 30px;
        border: 1px solid $second-color;
        border-radius: 5px;
        font-weight: 500;
        transition: $transition;
        position: relative;

        &::after {
            background-color: $second-color;
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 0;
            z-index: -1;
            height: 45px;
            transition: $transition;
        }

        &:hover::after {
            width: 100%;
        }

        &:hover {
            color: #fff;
        }
    }
}

.training-section {
    margin-bottom: 50px;

    .box {

        border-radius: 3px;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

        .img {
            position: relative;

            &:hover {
                .overlay {
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;

                    .overlay-btn {
                        opacity: 1;
                    }
                }
            }

            .overlay {
                position: absolute;
                border-radius: 5px;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                height: 0%;
                transition: .5s;
                width: 0%;
                background-color: rgba(17, 17, 26, 0.4);
                @include center;

                .overlay-btn {
                    background-color: $main-color;
                    color: #fff;
                    width: 120px;
                    opacity: 0;
                    height: 42px;
                    @include center;

                    box-shadow: $main-shadow;
                    border-radius: 5px;
                }

            }

            img {
                width: 100%;
                object-fit: cover;
                height: 240px;

            }

        }

        .content {
            padding: 15px;

            .title {
                font-weight: 600;
                margin: 6px 0;
            }

            .box-bottom {
                @include between;
                font-size: 13.5px;
                color: #3C3C3C;
            }
        }
    }

}

.blog-section {
    padding: 0 0 60px;
    background: url('../images/bg/3d-klb.png');
    background-repeat: no-repeat;
    background-position: right -120px bottom -50px;

    &.blog-section-2 {
        background-image: none;
    }

    .box {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

        .img {
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                height: 250px;
                transition: $transition;

                &:hover {
                    transform: scale(1.1);

                }
            }

        }

        .content {
            padding: 10px;
            text-align: center;

            .title {
                color: #303030;
                font-weight: 600;
                text-transform: uppercase;
                margin: 6px 0;
            }

            .text {
                font-size: 15px;
                font-weight: 400;
                color: #3C3C3C
            }

            .box-bottom {

                .read-more {
                    padding: 10px 30px;
                    color: $main-color;
                    border: 1px solid $main-color;
                    border-radius: 5px;
                    margin-top: 20px;
                    font-weight: 500;
                    transition: $transition;
                    position: relative;
                    display: inline-block;
                    margin: 20px 0;

                    &::after {
                        background-color: $main-color;
                        position: absolute;
                        content: "";
                        left: 0;
                        border-radius: 5px;
                        top: 0;
                        z-index: 1;
                        width: 0;
                        z-index: -1;
                        height: 45px;
                        transition: $transition;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.general-footer {
    background-color: #FAFAFA;
    overflow-x: hidden;

    .footer-top {
        padding: 50px 0;
        border-bottom: 2px solid #A8A8A8;

        .footer-block {
            margin-bottom: 30px;

            &.footer-logo-block {


                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

            }


            .nav-social-list {
                display: flex;
                align-items: center;
                margin-top: 20px;

                li {
                    width: 30px;
                    height: 28px;
                    background-color: #ddd;
                    border-radius: 3px;
                    margin-right: 10px;
                    transition: $transition;

                    a {
                        position: relative;
                        color: $main-color;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        width: 100%;

                        height: 100%;

                        i {
                            font-size: 15px;
                        }
                    }

                    &:hover {
                        box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 20%);
                        background-color: $main-color;

                        a {

                            color: #fff;
                        }
                    }

                    a {
                        font-size: 17px;
                        transition: $transition;
                        color: $main-color;


                    }
                }
            }

            .nav-list {
                li {
                    margin-bottom: 10px;

                    a {
                        color: #303030;
                        transition: $transition;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            left: -15px;
                            top: 8px;
                            background-color: $main-color;

                            width: 0;
                            height: 10px;
                            transition: $transition;

                        }

                        &:hover {
                            color: $main-color;


                        }

                        &:hover::before {

                            width: 10px;

                        }

                    }
                }
            }
        }
    }

    .footer-bottom {
        padding-top: 10px;
    }
}

.section-1 {
    overflow-x: hidden;

    .box {
        margin-bottom: 40px;
        border-radius: 3px;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

        .img {
            position: relative;

            &:hover {
                .overlay {
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;

                    .overlay-btn {
                        opacity: 1;
                    }
                }
            }

            .overlay {
                position: absolute;
                border-radius: 5px;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                height: 0%;
                transition: .5s;
                width: 0%;
                background-color: rgba(17, 17, 26, 0.4);
                @include center;

                .overlay-btn {
                    background-color: $main-color;
                    color: #fff;
                    width: 120px;
                    opacity: 0;
                    height: 42px;
                    @include center;

                    box-shadow: $main-shadow;
                    border-radius: 5px;
                }

            }

            img {
                width: 100%;
                object-fit: cover;
                height: 240px;

            }

        }

        .content {
            padding: 15px;

            .title {
                font-weight: 600;
                margin: 6px 0;
            }

            .box-bottom {
                @include between;
                font-size: 13.5px;
                color: #3C3C3C;
            }
        }
    }

}

.section-2 {
    .box {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        transition: $transition;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        }

        .img {
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                height: 250px;
                transition: $transition;

                &:hover {
                    transform: scale(1.1);

                }
            }

        }

        .content {
            padding: 10px;
            text-align: center;

            .title {
                color: #303030;
                font-weight: 600;
                text-transform: uppercase;
                margin: 6px 0;
            }

            .text {
                font-size: 15px;
                font-weight: 400;
                color: #3C3C3C
            }

            .box-bottom {

                .read-more {
                    padding: 10px 34px;
                    color: $main-color;
                    border: 1px solid $main-color;
                    border-radius: 5px;
                    margin-top: 20px;
                    font-weight: 500;
                    transition: $transition;
                    position: relative;
                    display: inline-block;
                    margin: 20px 0;

                    &::after {
                        background-color: $main-color;
                        position: absolute;
                        content: "";
                        left: 0;
                        border-radius: 5px;
                        top: 0;
                        z-index: 1;
                        width: 0;
                        z-index: -1;
                        height: 45px;
                        transition: $transition;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.section-inner {
    .page-title {
        padding: 0 10px;
        margin-bottom: 30px;
        position: relative;
        border-left: 1px solid $main-color;

        .title {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 27px;
            color: #303030;
        }


        .home-link {
            @include center;

            li {
                margin-right: 3px;

                a {
                    font-size: 16px;
                    color: #838383;
                    font-weight: 400;
                    transition: $transition;

                    &.active {
                        color: $main-color;
                        font-weight: 500;
                    }
                }

                a:hover {
                    color: $main-color;
                }
            }
        }
    }

    .box {

        img {

            width: 100%;
        }
    }

    .info-content {
        .text-info-title {
            text-transform: uppercase;
            font-size: 21px;
            font-weight: 500;
            color: #3B3B3C;
        }

        ul {
            margin: 12px 0;
            display: flex;

            li {
                color: #4B4B4D;
                margin-right: 20px;
                font-size: 15px;
                font-weight: 400;

                i {
                    color: $main-color;
                }
            }
        }

        .text {
            line-height: 1.8;
            color: #626262;
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            background-color: $main-color;
            color: #fff;
            margin-right: 10px;
            border-radius: 5px;
            display: block;
            width: 40px;
            height: 40px;
            @include center;
            transition: $transition;

            &:hover {

                box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 20%);
            }
        }
    }
}

// .gallery {

//     .product-item {
//         a {
//             position: relative;

//             i {
//                 position: absolute;
//                 top: 50%;
//                 font-size: $font-18px;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 background-color: #ca3d26;
//                 width: 50px;
//                 height: 50px;
//                 border-radius: 50%;
//                 @include center;
//                 color: #fff;
//                 transition: $transition;
//                 animation: pulse-primary 1.3s infinite;

//             }
//             img{
//                 width: 100%;
//                 height: 250px;
//                 margin-bottom: 20px;
//                 object-fit: cover;
//                 border-radius: 5px;
//             }
//         }


//         &.hide {
//             animation: animate 0.4s ease-in-out;
//             display: none;

//         }

//         &.show {
//             display: block;
//             animation: animate 0.4s ease-in-out;
//         }
//     }
// }
// .image-wrap {
//     padding: 16px;
// }

// .image-masonry {
//     display: grid;
//     gap: 1rem;
//     grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
//     grid-auto-rows: 240px;
// }

// .card {


//     font-size: 3rem;


//     height: 100%;
//     width: 100%;
//     border-radius: 4px;
//     transition: all 500ms;
//     overflow: hidden;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     padding: 0;
//     margin: 0;
// }

// @media screen and (min-width: 600px) {
//     .card-tall {
//         grid-row: span 2 / auto;
//     }

//     .card-wide {
//         grid-column: span 2 / auto;
//     }
// }
.contact-form-container {



    .contact-form {
        max-width: 850px;

        border-radius: 6px;
        margin: 20px auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 100%;
        border-radius: 4px;

        .contact-form-top {
            border-radius: 5px 5px 0 0;
            padding: 20px 30px;

            color: #fff;
            background-color: $main-color;

            .box {

                margin-bottom: 20px;

                &:last-child {
                    .item {
                        border: none;
                    }
                }

                .item {
                    border-right: 1px solid #D6D6D6;


                    .icon {
                        font-size: 25px;
                        margin-bottom: 10px;
                    }

                    span {
                        letter-spacing: .6px;
                    }

                    ul {

                        li {
                            margin-right: 10px;
                            width: 36px;
                            border-radius: 3px;
                            background-color: #fff;
                            height: 36px;
                            @include center;

                            a {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }

        .contact-form-bottom {
            padding: 10px 30px;

            .form-title {
                margin: 20px 0;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input,
                textarea {
                    width: 70%;
                    border-bottom: 2px solid #ddd;
                }
            }

            input {
                font-size: 14px;
                margin-bottom: 15px;
                padding-left: 10px;
                padding-bottom: 8px;
            }

            textarea {
                margin: 15px 0;
                padding: 10px;
                border-radius: 5px;
                display: block;
                border: 2px solid #ddd;
            }

            button {
                background-color: $main-color;
                width: 130px;
                margin-bottom: 22px;
                border-radius: 3px;
                height: 35px;
                cursor: pointer;
                border: 1.4px solid $main-color;
                color: #fff;
                transition: $transition;

                &::after {
                    background-color: $second-color;
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 0;
                    z-index: -1;
                    height: 45px;
                    transition: $transition;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .general-header {
        .header-bottom {
            .header-logo {
                img {
                    max-width: 220px;
                    margin-top: -70px;
                }
            }

            .nav {
                .nav-list {

                    margin-left: -25px;

                    .nav-item {
                        .nav-link {
                            font-size: 15px;
                            padding: 11px;
                        }
                    }
                }
            }
        }
    }

    .banner-section .banner-carousel .slider-item {
        padding: 270px 0;
    }

}

@media screen and (max-width:992px) {
    .general-header {
        display: none;
    }

    .header-mobile {
        display: block;

        .nav-menu-btn {

            font-size: 25px;
        }

        .header-social-list {
            display: flex;
            align-items: center;

            li {
                width: 27px;
                height: 25px;
                background-color: #f1f1f1;
                border-radius: 3px;
                margin-right: 10px;
                transition: $transition;

                a {
                    position: relative;
                    color: $main-color;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    width: 100%;

                    height: 100%;


                }



            }
        }
    }

    .banner-section .banner-carousel .slider-item {
        padding: 200px 0;
    }

    .about-section {
        padding: 30px 0;
.about-left{
  .about-left-content{
    justify-content: center;
  }
}
        .about-right {
            margin-top: 40px;
            text-align: center;

            h5 {
                font-size: 22px;

                &::after {
                    content: none;
                }

                &::before {
                    position: absolute;
                    bottom: -5px;
                    height: 3px;
                    background-color: $main-color;
                    width: 100px;
                    content: "";
                }
            }
        }

        .box-item {
            margin: 10px 0;

            .text {
                font-size: 13px;
                margin-top: 10px;
            }
        }
    }

    .general-footer {
        .footer-top {
            .footer-block {
                &.footer-logo-block {
                    align-items: flex-start;
                }

            }
        }


    }

    .contact-form-container {
        padding: 0 50px;

        .contact-form-bottom {
            padding: 5px !important;
        }
    }
}

@media screen and (max-width:768px) {
    .header-mobile {


        .nav-menu-btn {

            font-size: 22px;
        }

        .header-logo {
            img {
                max-width: 180px;
                width: 100%;
            }
        }

        .header-social-list {
            display: flex;
            align-items: center;

            li {
                width: 24px;
                height: 22px;
                background-color: #f1f1f1;
                border-radius: 3px;
                margin-right: 10px;
                transition: $transition;

                a {
                    position: relative;
                    color: $main-color;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    width: 100%;

                    height: 100%;


                }



            }
        }

        .header-mobile-menu {


            .header-search {

                .search-form {

                    width: 380px;
                    height: 40px;


                }
            }

        }
    }

    .banner-section .banner-carousel .slider-item {
        padding: 160px 0;
    }

    .general-footer {
        text-align: center;

        .footer-top {
            .footer-block {
                &.footer-logo-block {
                    align-items: center;

                    .footer-logo {
                        img {
                            width: 120px;
                        }
                    }
                }

            }
        }


    }
}

@media(max-width:715px) {
    .contact-form-container {
        padding: 0 20px;

        .contact-form {
            .contact-form-top {
                padding: 10px;

                .box {

                    .item {
                        text-align: center;

                        .icon {
                            font-size: 19px;

                        }

                        span {
                            font-size: 14px;
                            letter-spacing: .4px;
                        }

                        ul {

                            li {
                                margin-right: 5px;
                                width: 30px;
                                font-size: 13px;
                                height: 30px;

                            }
                        }
                    }
                }
            }

            .contact-form-bottom {
                form {

                    input,
                    textarea {
                        width: 100%;
                    }
                }


            }
        }
    }
}

@media screen and (max-width:576px) {
    .banner-section .banner-carousel .slider-item {
        padding: 120px 0;
    }

    .contact-form-container {
        .contact-form {
            .contact-form-top {
                padding: 10px;

                .box {

                    .item {
                        border: none;
                        border-bottom: 1px solid #ddd;
                        padding-bottom: 15px;

                        .icon {
                            font-size: 19px;

                        }


                    }
                }
            }

            .contact-form-bottom {
                form {

                    input,
                    textarea {
                        width: 100%;
                    }
                }


            }
        }
    }
}

@media screen and (max-width:544px) {}

@media screen and (max-width:523px) {}

@media screen and (max-width:412px) {
    .header-mobile {
        .header-mobile-menu {
            .header-search {

                .search-form {

                    width: 310px;
                    height: 40px;


                }
            }

        }
    }
}